<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.Mapper.ClazzMapper">
<!--    分页查询-->
    <select id="page" resultType="com.zhang.pojo.Clazz">
        select c.*,e.name masterName from Clazz c left join emp e on c.masterId=e.id
        <where>
            <if test="name!=null and name!=''">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin!=null and end!=null">
                and c.endDate between #{begin} and #{end}
            </if>
        </where>
        order by c.updateTime desc
    </select>
<!--    根据id查询班级-->
    <select id="findById" resultType="com.zhang.pojo.Clazz">
        select * from clazz where id=#{id}
    </select>
<!--    添加班级-->
    <insert id="add" >
        insert into clazz(name,room,beginDate,endDate,masterId,subject,createTime,updateTime)
        values(#{name},#{room},#{beginDate},#{endDate},#{masterId},#{subject},#{createTime},#{updateTime})
    </insert>
<!--    删除班级-->
    <delete id="deleteById">
        delete from clazz where id=#{id}
    </delete>
</mapper>