<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.Mapper.ClazzMapper">
<!--    分页条件查询-->
    <select id="page" resultType="com.zhang.pojo.Clazz">
        select c.*,e.name masterName from clazz c left join emp e on c.masterId=e.id
        <where>
            <if test="name!=null and name!=''">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin!=null and end!=null">
                and c.endDate between #{begin} and #{end}
            </if>
        </where>
        order by c.updateTime desc
    </select>
<!--    查询所有班级-->
    <select id="findAll" resultType="com.zhang.pojo.Clazz">
        select * from clazz
    </select>
<!--    根据id查询班级-->
    <select id="findById" resultType="com.zhang.pojo.Clazz">
        select * from clazz where id=#{id}
    </select>
<!--    添加班级-->
    <insert id="add" >
        insert into clazz(name,room,beginDate,endDate,masterId,subject,createTime,updateTime)
        values(#{name},#{room},#{beginDate},#{endDate},#{masterId},#{subject},#{createTime},#{updateTime})
    </insert>
<!--    修改班级-->
    <update id="update">
        update clazz
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="room!=null">
                room=#{room},
            </if>
            <if test="beginDate!=null">
                beginDate=#{beginDate},
            </if>
            <if test="endDate!=null">
                endDate=#{endDate},
            </if>
            <if test="masterId!=null">
                masterId=#{masterId},
            </if>
            <if test="subject!=null">
                subject=#{subject},
            </if>
        </set>
        where id=#{id}
    </update>
<!--    删除班级-->
    <delete id="deleteById">
        delete from clazz where id=#{id}
    </delete>
<!--    统计班级人数-->
    <select id="getStudentCountData" resultType="java.util.Map">
        select c.name clazzName,count(*) num from student s left join clazz c on s.clazzId=c.id
        group by s.clazzId;
    </select>
</mapper>