<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.Mapper.EmpMapper">
<!--    分页条件查询-->
    <select id="page" resultType="com.zhang.pojo.Emp">
        select e.*,d.name deptName from emp e left join dept d on e.deptId=d.id
        <where>
            <if test="name!=null and name!=''">
                e.name like concat('%',#{name},'%')
            </if>
            <if test="gender!=null">
                and e.gender=#{gender}
            </if>
            <if test="begin!=null and end!=null">
                and e.entryDate between #{begin} and #{end}
            </if>
        </where>
        order by e.updateTime desc
    </select>
<!--    查询所有员工-->
    <select id="findAll" resultType="com.zhang.pojo.Emp">
        select * from emp
    </select>
    <resultMap id="empResultMap" type="com.zhang.pojo.Emp">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="image" column="image"/>
        <result property="entryDate" column="entryDate"/>
        <result property="deptId" column="deptId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="deptName" column="deptName"/>
        <collection property="exprList" ofType="com.zhang.pojo.EmpExpr">
            <id property="id" column="exprId"/>
            <result property="empId" column="empId"/>
            <result property="begin" column="begin"/>
            <result property="end" column="end"/>
            <result property="company" column="company"/>
            <result property="job" column="exprJob"/>
        </collection>


    </resultMap>
<!--    根据id查询员工-->
    <select id="findById" resultMap="empResultMap">
        select
        e.*,
        ee.id as exprId,
        ee.begin,ee.end,ee.company,ee.job as exprJob
        from emp e left join empexpr ee
        on e.id=ee.empId
        where e.id=#{id}
    </select>
<!--    添加员工-->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into emp(username,name,gender,phone,job,salary,image,entryDate,deptId,createTime,updateTime)
        values(#{username},#{name},#{gender},#{phone},#{job},#{salary},#{image},#{entryDate},#{deptId},#{createTime},#{updateTime})
    </insert>
<!--    修改员工-->
    <update id="update">
        update emp
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="job!=null">
                job=#{job},
            </if>
            <if test="salary!=null">
                salary=#{salary},
            </if>
            <if test="image!=null">
                image=#{image},
            </if>
            <if test="entryDate!=null">
                entryDate=#{entryDate},
            </if>
            <if test="deptId!=null">
                deptId=#{deptId},
            </if>
            updateTime=NOW()
        </set>
        where id=#{id}
    </update>
<!--    删除员工-->
    <delete id="deleteByIds">
        delete from emp where id in
         <foreach collection="ids" item="id" separator="," open="(" close=")">
             #{id}
         </foreach>
    </delete>
<!--     统计职位人数-->
    <select id="getEmpJobData" resultType="java.util.Map">
        select
          (case when job=1 then '班主任'
                when job=2 then '讲师'
                when job=3 then '学工主管'
                when job=4 then '教研主管'
                when job=5 then '咨询师'
                else '其他' end) pos,
          count(*) num
        from emp
        group by job order by num
    </select>
<!--    统计性别人数-->
     <select id="getEmpGenderData" resultType="java.util.Map">
         select
          (case when gender=1 then '男'
                when gender=2 then '女'
                else '其他' end) name,
          count(*) value
        from emp
        group by gender
     </select>
<!--    登陆查询-->
    <select id="selectByUsernameAndPassword" resultType="com.zhang.pojo.Emp">
        select id,username,name from emp
        where username=#{username} and password=#{password}
    </select>
</mapper>